{
  "env": {
    "commonjs": true,
    "es2021": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "airbnb-base",
    "airbnb-typescript/base"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "rules": {
    "@typescript-eslint/no-explicit-any": "off",
    "import/no-dynamic-require": "off",
    "indent": ["error", 2],
    "linebreak-style": ["error", "windows"],
    "@typescript-eslint/quotes": ["error", "double"],
    "quotes": ["error", "double"],
    "semi": ["error", "always"],
    "key-spacing": [
      "error",
      {
        "beforeColon": false,
        "afterColon": true
      }
    ],
    "object-curly-spacing": ["error", "always"],
    "no-const-assign": "error",
    "prefer-const": "error",
    "no-unused-vars": ["off"],
    "no-async-promise-executor": ["off"],
    "comma-spacing": ["error", { "before": false, "after": true }],
    "global-require": "off",
    "no-param-reassign": "off",
    "no-console": "off",
    "max-len": "off",
    "no-restricted-syntax": "off",
    "no-continue": "off"
  }
}
